<!DOCTYPE html>
<html>
<head>
	<title>Main Menu</title>
	<meta charset="UTF-8">
	<meta name="description" content="Oregon Trail game developed with nodeJS, JavaScript, HTML5, and CSS">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="/styles/global.css" type="text/css" rel="stylesheet" />
	<link href="/styles/game.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="container">
		<h1>Welcome to the Oregon Trail!</h1>
		<div id="startmenu">
		<br><br><br><br>
			<h1>Who would you like to be?</h1>
			<ul>
				
				<li><h1>1. Be a Banker from Boston</h1></li>
				<li><h1>2. Be a Carpenter from Ohio</h1></li>
				<li><h1>3. Be a farmer from Illinois</h1></li>
				<li><h1>4. Find out the differences between the choices</h1></li>
			</ul>
			<p><br><br><br>Press the spacebar for the main menu</p>
			<audio id="music" src="/music/bensoundsunny.mp3"></audio>
		</div>		
	</div>
	<script src="/scripts/game.js"></script>
	<script src="/scripts/global.js"></script>
</body>
</html>
