<!DOCTYPE html>
<html>
<head>
	<title>Main Menu</title>
	<meta charset="UTF-8">
	<meta name="description" content="Oregon Trail game developed with nodeJS, JavaScript, HTML5, and CSS">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="/styles/global.css" type="text/css" rel="stylesheet" />
	<link href="/styles/game.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="container">
		<div id="gameContainer">
			
		</div>
	<audio id="music" src="/music/bensoundsunny.mp3"></audio>	
	</div>
	<script src="/scripts/game.js"></script>
	<script src="/scripts/global.js"></script>
</body>
</html>
