<!DOCTYPE html>
<html>
<head>
	<title>Mission</title>
	<meta charset="UTF-8">
	<meta name="description" content="Stephen Stone's web server practice document">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="../public/styles/style1.css" type="text/css" rel="stylesheet" />
</head>
<header>
	<h1>Welcome to my Page!</h1>
</header>
<body>
	<div id="one">
		<div id="two">
			<p>I have worked with computer programming for 3 years through community college and Marist College. I have intermediate experience with HTML, CSS, Java, and C++. I also have novice experience with SQL.
			</p>
			<p>My short-term goal is to intern at a successful company over next summer and learn hands-on experience about real-life projects. My long-term goal is to become a software engineer at a fortune 500 company.
			</p>
		</div>
		<div id="three">
			<img src="../public/images/marist.png" height="300" width="300" />
		</div>
		<footer>
			<a href="mailto:sstone2423@gmail.com" style="text-align:center">Click here to e-mail me for further information!</a>		
		</footer>
	</div>

</body>
</html>
