<!DOCTYPE html>
<html>
<head>
	<title>Oregon Trail</title>
	<meta charset="UTF-8">
	<meta name="description" content="Oregon Trail game developed with nodeJS, JavaScript, HTML5, and CSS">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="../styles/index.css" type="text/css" rel="stylesheet" />
</head>
<body>
	<div id="container">
		<h1>Welcome to the Oregon Trail!</h1>
		<div id="game">
			
		</div>
		
	</div>

</body>
</html>
