<!DOCTYPE html>
<html>
<head>
	<title>Main Menu</title>
	<meta charset="UTF-8">
	<meta name="description" content="Oregon Trail game developed with nodeJS, JavaScript, HTML5, and CSS">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="/styles/global.css" type="text/css" rel="stylesheet" />
	<link href="/styles/mainmenu.css" type="text/css" rel="stylesheet" />	
</head>
<body>
	<div id="container">
		<h1>Welcome to the Oregon Trail!</h1>
		<div id="mainmenu">
			<ul>
				<li id="travel"><h1>1. Travel the Trail</h1></li>
				<li id="learn"><h1>2. Learn about the Trail</h1></li>
				<li id="seeTop10"><h1>3. See the Oregon Top 10</h1></li>
				<li><h1 id="sound">4. Turn Sound Off</h1></li>
				<audio id="music" src="/music/bensoundsunny.mp3"></audio>
			</ul>
		</div>	
	</div>
	<script src="/scripts/mainmenu.js"></script>
	<script src="/scripts/global.js"></script>
</body>
</html>
