<!DOCTYPE html>
<html>
<head>
	<title>Top 10</title>
	<meta charset="UTF-8">
	<meta name="description" content="Oregon Trail game developed with nodeJS, JavaScript, HTML5, and CSS">
	<meta name="keywords" content="Stephen,Stone,HTML5,CSS,JavaScript,jsnode">
	<meta name="author" content="Stephen Stone">
	<link href="/styles/global.css" type="text/css" rel="stylesheet" />
	<link href="/styles/top10.css" type="text/css" rel="stylesheet" />	
</head>
<body>
	<div id="container">
		<h1>Oregon Trail Top 10</h1>
		<div id="top10">
		</div>	
		<p>Press the Spacebar to Return to the Main Menu</p>
		<audio id="music" src="/music/bensoundsunny.mp3"></audio>
	</div>
	<script src="/scripts/top10.js"></script>
	<script src="/scripts/global.js"></script>
</body>
</html>