#startmenu{
	text-align:center;
}
#startmenu ul{
	list-style-type:none;
}
#container {
	color:yellow;
	font-size:20px;
	
}
#container h1 {
	text-align:center;
	font-size:35px;
}
p {
	font-size:20px;
}
#gameContainer {
	margin:auto;
	width:50%;
}
#gameContainer li{
	padding: 8px;
}
#gameContainer input{
	margin: 8px;
	padding:5px;
}
button {
	font-size:20px;
}
ul {
	list-style-type:none;
}