#container {
	background-image:url("/images/oregontrail.jpg");
	background-repeat:no-repeat;
	background-position:center;
	background-attachment:fixed;
}
#container h1 {
	text-align:center;
	font-size:50px;
}
#game {
	text-align:center;
}
a {
	color:white;
	font-size:35px;
	vertical-align:-220px;
	background-color:black;
}
a:link {
	color:black;
	text-decoration:none;
}
a:hover {
	color:red;
}
#fadeText{
	animation:fading 10s infinite
}
@keyframes fading{
	0%{opacity:0}
	50%{opacity:1}
	100%{opacity:0}
}