#container {
	background-image:url("/images/oregontrail2.jpg");
	background-repeat:no-repeat;
	background-position:center;
}
#mainmenu {
	text-align:center;
}
#mainmenu ul{
	list-style-type:none;
}
#container h1 {
	text-align:center;
}